* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    max-width: 384px;
}   

.container {
    width: 384px;
    position: relative;
}

.hide-section-container {
    display: none;
    z-index: 123;
}

.hide-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F4A79F;
}

.close-icon-container {
    background: transparent;
    border: none;
    position: absolute;
    left: 25px;
}

.hide-section-image-container {
    width: 168px;
}

.hide-section-image-container img {
    width: 100%;
    height: 100%;
}

.close-links {
    position: absolute;
    top: 70px;
    padding: 10px;
    width: 384px;
}

.hide-section-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-bottom: 1px solid #F4A79F;
    height: 64px;
}

.menu-icon-container {
    background: transparent;
    border: none;
    width: 17px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    left: 25px;
}

.logo-container {
    width: 168px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.main {
    position: absolute;
    top: 64px;
}

.info-sec-1 img {
    width: 385px;
}

.info-sec-1 h3 {
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .input {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.input {
    border: 3px solid #374674;
    border-radius: 4px;
    width: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input input {
    width: 300px;
    height: 51px;
    padding: 1px 2px 1px 16px;
    border: none;
    outline: none;
}

.input input::placeholder {
    font-size: 16px;
}
  

.search-icon-container-helper {
    display: inline-block;
    position: relative;
}

.search-icon-container {
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #374674;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.search-icon-container a {
    position: absolute;
    top: 65%;
    left: 62%;
    transform: translate(-50%, -50%);
}

span.eyeglass {
    font-size: 40px;
    color: white;
}

.info-sec-2 {
    text-align: center;
    background: #F5F5F5;
    margin: 32px 0;
    padding: 25px;
} 

.info-sec-2 h3 {
    font-size: 24px;
    line-height: 35px;
}

.info-sec-2 a {
    display: inline-block;
    color: white;
    padding: 4px 14px;
    background: #374674;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
